<form [formGroup]="productForm">
  <div class="p-fluid">
    <div class="p-field">
      <label for="name">Nome</label>
      <input pInputText id="name" formControlName="name" />
      <small *ngIf="productForm.get('name')?.invalid && (productForm.get('name')?.dirty || productForm.get('name')?.touched)" class="p-error">Nome é obrigatório.</small>
    </div>
    <div class="p-field">
      <label for="description">Descrição</label>
      <textarea pInputTextarea id="description" formControlName="description"></textarea>
    </div>
    <div class="p-field">
      <label for="price">Preço</label>
      <input pInputText id="price" type="number" formControlName="price" />
       <small *ngIf="productForm.get('price')?.invalid && (productForm.get('price')?.dirty || productForm.get('price')?.touched)" class="p-error">Preço é obrigatório e deve ser maior que zero.</small>
    </div>
    <div class="p-field-checkbox">
      <p-checkbox id="available" formControlName="available" binary="true"></p-checkbox>
      <label for="available">Disponível</label>
    </div>
  </div>
  <div class="p-d-flex p-jc-end">
    <button pButton icon="pi pi-check" label="Salvar" (click)="saveProduct()" [disabled]="!productForm.valid"></button>
    <button pButton icon="pi pi-times" label="Cancelar" class="p-button-secondary p-ml-2" (click)="close()"></button>
  </div>
</form>
